body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 80%;
   
}

.chat-popup {
    margin-top:30%;    
    position: relative;
    display: none;
    bottom: 20px;
    width: 99%;
    height: 435px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-list {
    width: 100px;
    height: 100%;
    float: left;
    overflow-y: scroll;
    background-color: #f8f8f8;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.profile:hover {
    background-color: #e0e0e0; /* Cor de preenchimento ao passar o mouse */
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    object-fit: cover;
}

.profile-name {
    font-weight: bold;
}

.upload-photo-input {
    display: none;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    margin-left: 100px;
}

.chat-header {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
    color: #fff;
    padding: 10px;
    position: relative;
}

.chat-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chat-name {
    font-weight: bold;
}

.chat-status {
    font-size: 0.9em;
}

.chat-messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f0f0f0;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    transform: translateZ(100px); 
    padding: 8px 15px;
    background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.open-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.open-chat-btn i {
    font-size: 25px;
}

.close-chat-btn {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5em;
}

.message {
    position: relative;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.message.received {
    align-self: flex-start;
    background-color: #EAEAEA;
}

.message-info {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinhar ao final do contêiner */
}

.message-status,
.message-timestamp,
.message-delete,
.message-edit {
    margin-left: 5px;
}

.message-delete, .message-edit {
    color: #888;
    cursor: pointer;
}

.message-delete i, .message-edit i {
    font-size: 1.2em;
}
